/* width */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #21432a;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 4.065vw;
}

h2 {
  font-weight: 700;
  font-size: 1.876vw;
}

h3 {
  font-weight: 700;
  font-size: 1.251vw;
}

p,
span,
input,
input.btn {
  font-weight: 400;
  font-size: 0.834vw;
  line-height: 160%;
}

.btn {
  font-family: "DM Sans", sans-serif;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  position: absolute;
  z-index: 90;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 58.24vw;
  margin: 0 auto;
  z-index: 100;
}

.header {
  width: 100%;
  height: 106.725vh;
  background-color: #d1c143;
}

.header__title {
  width: 9vw;
  height: 5.336vh;
  margin-top: 4.696vh;
}

.header__logo {
  position: relative;
  left: 13.51vw;
  width: 20.64vw;
  height: 25.757vh;
  margin-top: 1.621vh;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__main-title {
  width: 28.75vw;
  margin-top: 6.9vh;
  line-height: 110%;
  color: #2c1600;
}

.header__main .btn.light {
  margin-top: 4.002vh;
  border: 1px solid #fff;
  background-color: #fff;
  color: #21432a;
  padding: 15px 23px 16px 23px;
  letter-spacing: -0.1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__main .btn.light:hover {
  border: 1px solid #21432a;
  background-color: #21432a;
  color: #feb86a;
}

.header__main-greenBg {
  position: relative;
  left: 0.44vw;
  width: 27.37vw;
  height: 27.37vw;
  border-radius: 300px;
  border-top-left-radius: 0;
  background-color: #21432a;
  -webkit-transform: translateY(-0.15%);
          transform: translateY(-0.15%);
}

.header__main-greenBg .leaf {
  position: absolute;
  top: 1.605vh;
  left: 0.99vw;
  width: 10.54vw;
  height: 34.725vh;
  opacity: 92%;
  z-index: 98;
}

.header__main-greenBg .woman {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 38.875vw;
  -webkit-transform: translate(-10.2%, 0.25%);
          transform: translate(-10.2%, 0.25%);
  z-index: 99;
}

.header .leavesLeft {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 90;
}

.header .leavesLeft__blur {
  width: 8.482vw;
  height: 21.558vh;
}

.header .leavesLeft__light-big {
  position: absolute;
  left: 3.96vw;
  top: 7.044vh;
  width: 3.141vw;
  height: 4.162vh;
}

.header .leavesLeft__light-sm {
  position: absolute;
  left: 9.84vw;
  top: 25.08vh;
  width: 1.5vw;
  height: 3.807vh;
  -webkit-transform: rotate(3.85deg);
          transform: rotate(3.85deg);
}

.header .leavesLeft__dark {
  position: absolute;
  left: 3.33vw;
  top: 23.586vh;
  width: 1.414vw;
  height: 5.55vh;
}

.header .leavesRight {
  position: absolute;
  right: -0.524vw;
  top: 58.603vh;
  width: 10.942vw;
  height: 44.61vh;
  z-index: 90;
}

.header .leafBottom {
  position: absolute;
  left: 8.42vw;
  bottom: -6.7vh;
  width: 16.545vw;
  height: 45.037vh;
  z-index: 90;
}

.header .leafTop {
  position: absolute;
  left: 72.67vw;
  top: 0;
  width: 24.084vw;
  height: 59.979vh;
  z-index: 90;
}

.header .glasses {
  left: 24.49vw;
  top: 24.299vh;
  width: 5.31vw;
  height: 9.178vh;
}

.header .printer {
  left: 5.69vw;
  top: 66.009vh;
  width: 3.949vw;
  height: 8.359vh;
}

.header .shirt {
  left: 38.25vw;
  top: 69.215vh;
  width: 5.101vw;
  height: 9.712vh;
}

.header .plant {
  left: 56.74vw;
  top: 19.758vh;
  width: 5.728vw;
  height: 12.7vh;
}

.header .earphones {
  left: 73.87vw;
  top: 15.824vh;
  width: 4.263vw;
  height: 9.178vh;
}

.header .chair {
  left: 45.96vw;
  top: 88.161vh;
  width: 4.682vw;
  height: 8.111vh;
}

.header .pad {
  left: 74.55vw;
  top: 90.118vh;
  width: 4.95vw;
  height: 9.178vh;
}

.main {
  position: relative;
  width: 100%;
  height: 201.474vh;
  background-color: #fffbf7;
}

.main__title {
  width: 38.953vw;
  height: 10.672vh;
  margin: 6.403vh auto 15.74vh;
  padding: 0 6.283vw;
  text-align: center;
  color: #2c1600;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  line-height: 140%;
}

.main .firstLine {
  position: absolute;
  left: 12.59vw;
  width: 21.85vw;
  height: 37.14vh;
  z-index: 90;
  -webkit-transform: scale(1.007);
          transform: scale(1.007);
}

.main .secondLine {
  position: absolute;
  left: 15.588vw;
  top: 77.176vh;
  width: 28.83vw;
  height: 12.474vh;
  z-index: 90;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.main .thirdLine {
  position: absolute;
  left: 29.06vw;
  top: 129.471vh;
  width: 15.44vw;
  height: 26.894vh;
  z-index: 90;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.main .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .article .wrap {
  width: 28.75vw;
}

@media (max-width: 1367px) {
  .main .article .wrap {
    width: 35vw;
  }
}

.main .article__title {
  margin-bottom: 2.668vh;
  line-height: 141%;
  color: #2c1600;
}

.main .article .wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.942vw;
}

.main .article .wrap2 .leaf {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.main .article__description {
  line-height: 163%;
  vertical-align: top;
  color: #796e63;
}

.main__firstStep.article .img {
  margin-left: 3.101vw;
  width: 20.314vw;
  height: 53.575vh;
}

.main__firstStep.article .wrap {
  -webkit-transform: translate(10px, -1.281vh);
          transform: translate(10px, -1.281vh);
}

.main__firstStep.article .article__title {
  width: 78%;
}

.main__firstStep.article .wrap2 .leaf {
  width: 0.838vw;
  height: 1.387vh;
}

.main__firstStep.article span {
  font-weight: 500;
}

.main__secondStep.article .img {
  width: 23.717vw;
  height: 47.919vh;
  margin: 3.202vh 1.311vw 0 0;
}

.main__secondStep.article .wrap {
  -webkit-transform: translateY(-2.348vh);
          transform: translateY(-2.348vh);
}

.main__secondStep.article .wrap2 .leaf {
  width: 0.838vw;
  height: 1.067vh;
}

.main__thirdStep.article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__thirdStep.article .img {
  width: 15.502vw;
  height: 29.989vh;
  margin: 13.74vh auto 0 auto;
  -webkit-transform: translateX(0.471vw);
          transform: translateX(0.471vw);
}

.main__thirdStep.article .wrap {
  margin: 1.814vh auto;
  -webkit-transform: translateX(0.262vw);
          transform: translateX(0.262vw);
  width: 40%;
  text-align: center;
}

.main .leafLeft {
  position: absolute;
  left: 0;
  top: 62.434vh;
  width: 21.152vw;
  height: 65.742vh;
  z-index: 90;
}

.main .leafRight {
  position: absolute;
  width: 19.634vw;
  height: 53.789vh;
  right: -10px;
  bottom: 0.5vh;
  z-index: 90;
}

.section {
  position: relative;
  width: 100%;
  height: 104.291vh;
  background-color: #f6ede3;
}

.section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__greenBg {
  position: relative;
  margin-top: 10.107vh;
  width: 16.928vw;
  height: 34.693vh;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.section__greenBg img {
  width: 100%;
}

.section__greenBg h2 {
  display: block;
  position: absolute;
  left: 2.918vw;
  top: 10.032vh;
  width: 12.267vw;
  height: 14.7vh;
  line-height: 140%;
  color: #ffefdf;
}

.section .slider {
  position: absolute;
  right: 0;
  top: 11.442vh;
  width: 59.843vw;
  height: 36.219vh;
  overflow-x: hidden;
}

.section .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (13.822vw)[10];
      grid-template-columns: repeat(10, 13.822vw);
  -webkit-column-gap: 1.251vw;
          column-gap: 1.251vw;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.section .products .product {
  display: -ms-grid;
  display: grid;
  position: relative;
  height: 35.219vh;
  -ms-grid-rows: 19.21vh 1fr 7.274vh;
      grid-template-rows: 19.21vh 1fr 7.274vh;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08), 0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02), 0px 3px 4px rgba(44, 22, 0, 0.04);
          box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08), 0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02), 0px 3px 4px rgba(44, 22, 0, 0.04);
  border-radius: 20px;
  color: #796e63;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section .products .product .iconHeart {
  position: absolute;
  left: 84.85%;
  right: 3.79%;
  top: 3.03%;
  bottom: 87.88%;
  border-radius: 100%;
  background: #ffffff;
}

.section .products .product .iconHeart::before {
  content: "";
  position: absolute;
  min-width: 65%;
  min-height: 65%;
  background-image: url("../images/section/heart.svg");
  background-size: cover;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section .products .product img {
  border-top-left-radius: 20px;
  width: 100%;
  height: 100%;
}

.section .products .product p {
  max-width: 11.518vw;
  margin: auto;
  padding: 2.188vh 0 1.029vh 0;
  border-bottom: 1px solid #f2f6f6;
}

.section .products .product .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 1.152vw;
  right: 1.152vw;
  bottom: 2.418vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .products .product .wrap::before {
  content: "";
  width: 1.309vw;
  height: 1.309vw;
  background-size: cover;
}

.section .products .product .wrap.first::before {
  background-image: url("../images/section/profile-image-1.svg");
}

.section .products .product .wrap.second::before {
  background-image: url("../images/section/profile-image-2.svg");
}

.section .products .product .wrap.third::before {
  background-image: url("../images/section/profile-image-3.svg");
}

.section .products .product .wrap.fourth::before {
  background-image: url("../images/section/profile-image-4.svg");
}

.section .products .product .wrap span::before {
  content: "";
  display: inline-block;
  width: 0.573vw;
  height: 0.573vw;
  background-size: cover;
}

.section .products .product .wrap .thumbup::before {
  content: "";
  background-image: url("../images/section/icon_thumbup.svg");
}

.section .products .product .wrap .thumbdown {
  margin-left: 0.785vw;
}

.section .products .product .wrap .thumbdown::before {
  background-image: url("../images/section/icon_thumbdown.svg");
}

.section .arrowButtons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.539vw;
  margin-top: 6.131vh;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.section .arrowButtons .arrowBtn {
  width: 2.618vw;
  height: 2.618vw;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.section .arrowButtons .arrowBtn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.section .arrowButtons__left::before {
  background-image: url("../images/section/buttonsArrow/left/Property 1=default.svg");
}

.section .arrowButtons__left:hover {
  background-color: #21432a;
}

.section .arrowButtons__left:hover::before {
  background-image: url("../images/section/buttonsArrow/left/Property 1=hover.svg");
}

.section .arrowButtons__left--disable {
  pointer-events: none;
}

.section .arrowButtons__left--disable:hover {
  display: none;
}

.section .arrowButtons__left--disable::before {
  background-image: url("../images/section/buttonsArrow/left/Property 1=disabled.svg");
  pointer-events: none;
}

.section .arrowButtons__right::before {
  -webkit-transform: scale(1.031);
          transform: scale(1.031);
  background-image: url("../images/section/buttonsArrow/right/Property 1=default-1.svg");
}

.section .arrowButtons__right:hover {
  background-color: #21432a;
}

.section .arrowButtons__right:hover::before {
  background-image: url("../images/section/buttonsArrow/right/Property 1=hover-1.svg");
}

.section .arrowButtons__right--disable {
  pointer-events: none;
}

.section .arrowButtons__right--disable:hover {
  display: none;
}

.section .arrowButtons__right--disable::before {
  -webkit-transform: rotate(180deg) scale(1.031);
          transform: rotate(180deg) scale(1.031);
  background-image: url("../images/section/buttonsArrow/left/Property 1=disabled.svg");
}

.section .newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49.005vw;
  height: 48.026vh;
  margin: 6.403vh auto 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08), 0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02), 0px 3px 4px rgba(44, 22, 0, 0.04);
          box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08), 0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02), 0px 3px 4px rgba(44, 22, 0, 0.04);
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}

.section .newsletter__img {
  position: absolute;
  left: -0.209vw;
  top: 9.059vh;
  width: 9.119vw;
  height: 29.562vh;
}

.section .newsletter__title {
  margin: 5.784vh auto 1.067vh;
  line-height: 140%;
  text-align: center;
  color: #2c1600;
}

.section .newsletter__description {
  width: 27.12vw;
  margin-bottom: 4.899vh;
  font-size: 0.938vw;
  text-align: center;
  color: #796e63;
}

.section .newsletter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section .newsletter .form__email {
  position: relative;
  width: 24.699vw;
  height: 5.763vh;
  margin-bottom: 2.134vh;
  border-radius: 100px;
  background-color: #F7EDE3;
}

.section .newsletter .form__email-img {
  position: absolute;
  top: 1.601vh;
  left: 0.89vw;
  width: 1.257vw;
  height: 1.257vw;
}

.section .newsletter .form__email-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 3.039vw;
  border: none;
  border-radius: 100px;
  font-family: "DM Sans", sans-serif;
  color: #796e63;
  background-color: transparent;
}

.section .newsletter .form__email-text:focus {
  outline: none;
  -webkit-box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08), 0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02), 0px 3px 4px rgba(44, 22, 0, 0.04);
          box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08), 0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02), 0px 3px 4px rgba(44, 22, 0, 0.04);
}

.section .newsletter .form__email-submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 6.774vw;
  height: 100%;
  padding-bottom: 0.107vh;
  border: 1px solid #796e63;
  line-height: 21px;
  text-align: center;
  color: #21432a;
  background-color: #fff;
  z-index: 3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section .newsletter .form__email-submit:hover {
  color: #feb86a;
  background-color: #21432a;
}

.section .newsletter .form .inner {
  margin-bottom: 1.067vh;
  width: 100%;
}

.section .newsletter .form .inner input[type="checkbox"] {
  display: none;
  pointer-events: none;
}

.section .newsletter .form .inner input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.section .newsletter .form .inner input[type="checkbox"] + label svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.251vw;
  height: 1.251vw;
  margin-right: 5px;
  fill: none;
}

.section .newsletter .form .inner input[type="checkbox"] + label .check-bg {
  stroke: none;
  fill: none;
}

.section .newsletter .form .inner input[type="checkbox"] + label .check-tick {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
}

.section .newsletter .form .inner input[type="checkbox"] + label span {
  margin-left: 1.571vw;
  font-family: "DM Sans";
  color: #796e63;
}

.section .newsletter .form .inner input[type="checkbox"] + label span a {
  text-decoration: none;
  color: #feb86a;
}

.section .newsletter .form .inner input[type="checkbox"]:checked + label .check-bg {
  stroke: #21432a;
  fill: #21432a;
}

.section .newsletter .form .inner input[type="checkbox"]:checked + label .check-tick {
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
}

.section .leaves-left {
  position: absolute;
  left: 0;
  top: -5.742vh;
  width: 11.937vw;
  height: 27.108vh;
  z-index: 90;
}

.section .leaves-right {
  position: absolute;
  right: -14px;
  width: 11.937vw;
  height: 27.108vh;
  bottom: -7.2vh;
  z-index: 90;
  -webkit-transform: scaleX(0.968);
          transform: scaleX(0.968);
}

.footer {
  position: relative;
  width: 100%;
  height: 78.963vh;
}

.footer__title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  width: 28.75vw;
  height: 27.535vh;
  margin-top: 30.523vh;
  line-height: 110%;
  color: #F7EDE3;
}

.footer .mobileApp {
  position: absolute;
  width: 27.504vw;
  height: 74.28vh;
  left: 21.278vw;
  top: 11.116vh;
}

.footer .glasses {
  width: 5.31vw;
  height: 9.178vh;
  left: 27.563vw;
  top: 15.731vh;
}

.footer .printer {
  width: 3.949vw;
  height: 8.359vh;
  left: 9.24vw;
  top: 37.891vh;
}

.footer .shirt {
  width: 5.131vw;
  height: 9.819vh;
  left: 16.59vw;
  top: 69.332vh;
}

.footer .plant {
  width: 5.654vw;
  height: 12.487vh;
  left: 72.55vw;
  top: 8.607vh;
}

.footer .chair {
  width: 4.764vw;
  height: 8.111vh;
  left: 44.25vw;
  top: 73.072vh;
}

.footer .pad {
  width: 4.974vw;
  height: 9.178vh;
  left: 81.9vw;
  top: 62.287vh;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 67.95vw;
  top: 78vh;
  gap: 8px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .copyright p {
  width: 92px;
  height: 26px;
  font-size: 16px;
  color: #796e63;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.footer .copyright::after {
  content: url("../images/footer/gco-footer-logo.svg");
  height: 32.15px;
  width: 22px;
}
/*# sourceMappingURL=style.css.map */