@import "./variables.scss";
@import "./scroll.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: $green-color;
  overflow-x: hidden;
}
h1 {
  font-weight: 700;
  font-size: 4.065vw;
}
h2 {
  font-weight: 700;
  font-size: 1.876vw;
}
h3 {
  font-weight: 700;
  font-size: 1.251vw;
}
p,
span,
input,
button[type="submit"] {
  font-weight: 400;
  font-size: 0.834vw;
  line-height: 160%;
}

.btn {
  font-family: "DM Sans", sans-serif;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.icon {
  position: absolute;
  z-index: 90;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 58.24vw;
  margin: 0 auto;
  z-index: 100;
}

.header {
  width: 100%;
  height: 106.725vh;
  background-color: $yellow-color;
  &__title {
    width: 9vw;
    height: 5.336vh;
    margin-top: 4.696vh;
  }
  &__logo {
    position: relative;
    left: 13.51vw;
    width: 20.64vw;
    height: 25.757vh;
    margin-top: 1.621vh;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    &-title {
      width: 28.75vw;
      margin-top: 6.9vh;
      line-height: 110%;
      color: $brown-color;
    }
    .btn.light {
      margin-top: 4.002vh;
      border: 1px solid #fff;
      background-color: #fff;
      color: $green-color;
      padding: 15px 23px 16px 23px;
      letter-spacing: -0.1px;
      transition: 0.2s;
      &:hover {
        border: 1px solid $green-color;
        background-color: $green-color;
        color: $orange-color;
      }
    }
    &-greenBg {
      position: relative;
      left: 0.44vw;
      width: 27.37vw;
      height: 27.37vw;
      border-radius: 300px;
      border-top-left-radius: 0;
      background-color: $green-color;
      transform: translateY(-0.15%);
      .leaf {
        position: absolute;
        top: 1.605vh;
        left: 0.99vw;
        width: 10.54vw;
        height: 34.725vh;
        opacity: 92%;
        z-index: 98;
      }
      .woman {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 38.875vw;
        transform: translate(-10.2%, 0.25%);
        z-index: 99;
      }
    }
  }
  .leavesLeft {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;
    &__blur {
      width: 8.482vw;
      height: 21.558vh;
    }
    &__light-big {
      position: absolute;
      left: 3.96vw;
      top: 7.044vh;
      width: 3.141vw;
      height: 4.162vh;
    }
    &__light-sm {
      position: absolute;
      left: 9.84vw;
      top: 25.08vh;
      width: 1.5vw;
      height: 3.807vh;
      transform: rotate(3.85deg);
    }
    &__dark {
      position: absolute;
      left: 3.33vw;
      top: 23.586vh;
      width: 1.414vw;
      height: 5.55vh;
    }
  }
  .leavesRight {
    position: absolute;
    right: -0.524vw;
    top: 58.603vh;
    width: 10.942vw;
    height: 44.61vh;
    z-index: 90;
  }
  .leafBottom {
    position: absolute;
    left: 8.42vw;
    bottom: -6.7vh;
    width: 16.545vw;
    height: 45.037vh;
    z-index: 90;
  }
  .leafTop {
    position: absolute;
    left: 72.67vw;
    top: 0;
    width: 24.084vw;
    height: 59.979vh;
    z-index: 90;
  }
  .glasses {
    left: 24.49vw;
    top: 24.299vh;
    width: 5.31vw;
    height: 9.178vh;
  }
  .printer {
    left: 5.69vw;
    top: 66.009vh;
    width: 3.949vw;
    height: 8.359vh;
  }
  .shirt {
    left: 38.25vw;
    top: 69.215vh;
    width: 5.101vw;
    height: 9.712vh;
  }
  .plant {
    left: 56.74vw;
    top: 19.758vh;
    width: 5.728vw;
    height: 12.7vh;
  }
  .earphones {
    left: 73.87vw;
    top: 15.824vh;
    width: 4.263vw;
    height: 9.178vh;
  }
  .chair {
    left: 45.96vw;
    top: 88.161vh;
    width: 4.682vw;
    height: 8.111vh;
  }
  .pad {
    left: 74.55vw;
    top: 90.118vh;
    width: 4.95vw;
    height: 9.178vh;
  }
}
////////////////////////////////////////////////
.main {
  position: relative;
  width: 100%;
  height: 201.474vh;
  background-color: $main-color;
  &__title {
    width: 38.953vw;
    height: 10.672vh;
    margin: 6.403vh auto 15.74vh;
    padding: 0 6.283vw;
    text-align: center;
    color: $brown-color;
    transform: translateX(5px);
    line-height: 140%;
  }
  .firstLine {
    position: absolute;
    left: 12.59vw;
    width: 21.85vw;
    height: 37.14vh;
    z-index: 90;
    transform: scale(1.007);
  }
  .secondLine {
    position: absolute;
    left: 15.588vw;
    top: 77.176vh;
    width: 28.83vw;
    height: 12.474vh;
    z-index: 90;
    transform: scale(1.015);
  }
  .thirdLine {
    position: absolute;
    left: 29.06vw;
    top: 129.471vh;
    width: 15.44vw;
    height: 26.894vh;
    z-index: 90;
    transform: scale(1.01);
  }

  .article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wrap {
      width: 28.75vw;
      @media (max-width: 1367px) {
        width: 35vw;
      }
    }
    &__title {
      margin-bottom: 2.668vh;
      line-height: 141%;
      color: $brown-color;
    }
    .wrap2 {
      display: flex;
      justify-content: flex-start;
      gap: 0.942vw;
      .leaf {
        transform: translateY(50%);
      }
    }
    &__description {
      line-height: 163%;
      vertical-align: top;
      color: $light-brown-color;
    }
  }

  &__firstStep.article {
    .img {
      margin-left: 3.101vw;
      width: 20.314vw;
      height: 53.575vh;
    }
    .wrap {
      transform: translate(10px, -1.281vh);
    }
    .article__title {
      width: 78%;
    }
    .wrap2 {
      .leaf {
        width: 0.838vw;
        height: 1.387vh;
      }
    }
    span {
      font-weight: 500;
    }
  }
  &__secondStep.article {
    .img {
      width: 23.717vw;
      height: 47.919vh;
      margin: 3.202vh 1.311vw 0 0;
    }
    .wrap {
      transform: translateY(-2.348vh);
    }
    .wrap2 {
      .leaf {
        width: 0.838vw;
        height: 1.067vh;
      }
    }
  }
  &__thirdStep.article {
    flex-direction: column;
    .img {
      width: 15.502vw;
      height: 29.989vh;
      margin: 13.74vh auto 0 auto;
      transform: translateX(0.471vw);
    }
    .wrap {
      margin: 1.814vh auto;
      transform: translateX(0.262vw);
      width: 40%;
      text-align: center;
    }
  }
  .leafLeft {
    position: absolute;
    left: 0;
    top: 62.434vh;
    width: 21.152vw;
    height: 65.742vh;
    z-index: 90;
  }
  .leafRight {
    position: absolute;
    width: 19.634vw;
    height: 53.789vh;
    right: -10px;
    bottom: 0.5vh;
    z-index: 90;
  }
}

.section {
  position: relative;
  width: 100%;
  height: 104.291vh;
  background-color: $beige-color;
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  &__greenBg {
    position: relative;
    margin-top: 10.107vh;
    width: 16.928vw;
    height: 34.693vh;
    transform: translateX(-10px);
    img {
      width: 100%;
    }
    h2 {
      display: block;
      position: absolute;
      left: 2.918vw;
      top: 10.032vh;
      width: 12.267vw;
      height: 14.7vh;
      line-height: 140%;
      color: #ffefdf;
    }
  }
  .slider {
    position: absolute;
    right: 0;
    top: 11.442vh;
    width: 59.843vw;
    height: 36.219vh;
    overflow-x: hidden;
  }
  .products {
    display: grid;
    grid-template-columns: repeat($number-of-products, 13.822vw);
    column-gap: 1.251vw;
    transition: 0.2s ease-in-out;

    .product {
      display: grid;
      position: relative;
      height: 35.219vh;
      grid-template-rows: 19.21vh 1fr 7.274vh;
      background: #ffffff;
      box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08),
        0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02),
        0px 3px 4px rgba(44, 22, 0, 0.04);
      border-radius: 20px;
      color: $light-brown-color;
      transition: 0.3s;
      .iconHeart {
        position: absolute;
        left: 84.85%;
        right: 3.79%;
        top: 3.03%;
        bottom: 87.88%;
        border-radius: 100%;
        background: #ffffff;
        &::before {
          content: "";
          position: absolute;
          min-width: 65%;
          min-height: 65%;
          background-image: url("../images/section/heart.svg");
          background-size: cover;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      img {
        border-top-left-radius: 20px;
        width: 100%;
        height: 100%;
      }

      p {
        max-width: 11.518vw;
        margin: auto;
        padding: 2.188vh 0 1.029vh 0;
        border-bottom: 1px solid $gray-color;
      }
      .wrap {
        display: flex;
        position: absolute;
        left: 1.152vw;
        right: 1.152vw;
        bottom: 2.418vh;
        justify-content: space-between;
        align-items: center;
        &::before {
          content: "";
          width: 1.309vw;
          height: 1.309vw;
          background-size: cover;
        }
        &.first::before {
          background-image: url("../images/section/profile-image-1.svg");
        }
        &.second::before {
          background-image: url("../images/section/profile-image-2.svg");
        }
        &.third::before {
          background-image: url("../images/section/profile-image-3.svg");
        }
        &.fourth::before {
          background-image: url("../images/section/profile-image-4.svg");
        }
        span::before {
          content: "";
          display: inline-block;
          width: 0.573vw;
          height: 0.573vw;
          background-size: cover;
        }
        .thumbup {
          &::before {
            content: "";
            background-image: url("../images/section/icon_thumbup.svg");
          }
        }
        .thumbdown {
          margin-left: 0.785vw;
          &::before {
            background-image: url("../images/section/icon_thumbdown.svg");
          }
        }
      }
    }
  }
  .arrowButtons {
    align-self: flex-end;
    display: flex;
    gap: 0.539vw;
    margin-top: 6.131vh;
    transform: translateX(10px);
    .arrowBtn {
      width: 2.618vw;
      height: 2.618vw;
      background-color: transparent;
      border: none;
      border-radius: 100%;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }

    &__left {
      &::before {
        background-image: url("../images/section/buttonsArrow/left/Property\ 1=default.svg");
      }
      &:hover {
        background-color: $green-color;
        &::before {
          background-image: url("../images/section/buttonsArrow/left/Property\ 1=hover.svg");
        }
      }
      &--disable {
        pointer-events: none;
        &:hover {
          display: none;
        }
        &::before {
          background-image: url("../images/section/buttonsArrow/left/Property\ 1=disabled.svg");
          pointer-events: none;
        }
      }
    }

    &__right {
      &::before {
        transform: scale(1.031);
        background-image: url("../images/section/buttonsArrow/right/Property\ 1=default-1.svg");
      }
      &:hover {
        background-color: $green-color;
        &::before {
          background-image: url("../images/section/buttonsArrow/right/Property\ 1=hover-1.svg");
        }
      }
      &--disable {
        pointer-events: none;
        &:hover {
          display: none;
        }
        &::before {
          transform: rotate(180deg) scale(1.031);
          background-image: url("../images/section/buttonsArrow/left/Property\ 1=disabled.svg");
        }
      }
    }
  }
  .newsletter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 49.005vw;
    height: 48.026vh;
    margin: 6.403vh auto 0 auto;
    align-items: center;
    box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08),
      0px 6px 8px rgba(44, 22, 0, 0.06), 0px 8px 9px rgba(44, 22, 0, 0.02),
      0px 3px 4px rgba(44, 22, 0, 0.04);
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    &__img {
      position: absolute;
      left: -0.209vw;
      top: 9.059vh;
      width: 9.119vw;
      height: 29.562vh;
    }
    &__title {
      margin: 5.784vh auto 1.067vh;
      line-height: 140%;
      text-align: center;
      color: $brown-color;
    }
    &__description {
      width: 27.12vw;
      margin-bottom: 4.899vh;
      font-size: 0.938vw;
      text-align: center;
      color: $light-brown-color;
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__email {
        position: relative;
        width: 24.699vw;
        height: 5.763vh;
        margin-bottom: 2.134vh;
        border-radius: 100px;
        background-color: $light-grey-color;
        &-img {
          position: absolute;
          top: 1.601vh;
          left: 0.89vw;
          width: 1.257vw;
          height: 1.257vw;
        }
        &-text {
          position: absolute;
          width: 100%;
          height: 100%;
          padding-left: 3.039vw;
          border: none;
          border-radius: 100px;
          font-family: "DM Sans", sans-serif;
          color: $light-brown-color;
          background-color: transparent;
          &:focus {
            outline: none;
            box-shadow: 0px 1px 8px rgba(44, 22, 0, 0.08),
              0px 6px 8px rgba(44, 22, 0, 0.06),
              0px 8px 9px rgba(44, 22, 0, 0.02),
              0px 3px 4px rgba(44, 22, 0, 0.04);
          }
        }
        &-submit {
          position: absolute;
          right: 0;
          top: 0;
          width: 6.774vw;
          height: 100%;
          padding-bottom: 0.107vh;
          border: 1px solid $light-brown-color;
          line-height: 21px;
          text-align: center;
          color: $green-color;
          background-color: #fff;
          z-index: 3;
          transition: 0.2s;
          &:hover {
            color: $orange-color;
            background-color: $green-color;
          }
        }
      }
      .inner {
        margin-bottom: 1.067vh;
        width: 100%;
        input[type="checkbox"] {
          display: none;
          pointer-events: none;
          & + label {
            position: relative;
            cursor: pointer;
            display: grid;
            grid-template-columns: auto 1fr;

            svg {
              position: absolute;
              left: 0;
              top: 0;
              width: 1.251vw;
              height: 1.251vw;
              margin-right: 5px;
              fill: none;
            }
            .check-bg {
              stroke: none;
              fill: none;
              // stroke: $green-color;
              // fill: #21432a;
            }
            .check-tick {
              stroke-dasharray: 70;
              stroke-dashoffset: 70;
            }
            span {
              margin-left: 1.571vw;
              font-family: "DM Sans";
              color: $light-brown-color;
              a {
                text-decoration: none;
                color: $orange-color;
              }
            }
          }
          &:checked + label {
            .check-bg {
              stroke: $green-color;
              fill: #21432a;
            }
            .check-tick {
              stroke-dasharray: 70;
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }
  .leaves-left {
    position: absolute;
    left: 0;
    top: -5.742vh;
    width: 11.937vw;
    height: 27.108vh;
    z-index: 90;
  }
  .leaves-right {
    position: absolute;
    right: -14px;
    width: 11.937vw;
    height: 27.108vh;
    bottom: -7.2vh;
    z-index: 90;
    transform: scaleX(0.968);
  }
  .error-message {
    color: red;
    padding-left: .5vw;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 78.963vh;
  &__title {
    align-self: flex-end;
    transform: translateX(10px);
    width: 28.75vw;
    height: 27.535vh;
    margin-top: 30.523vh;
    line-height: 110%;
    color: $light-grey-color;
  }
  .mobileApp {
    position: absolute;
    width: 27.504vw;
    height: 74.28vh;
    left: 21.278vw;
    top: 11.116vh;
  }
  .glasses {
    width: 5.31vw;
    height: 9.178vh;
    left: 27.563vw;
    top: 15.731vh;
  }
  .printer {
    width: 3.949vw;
    height: 8.359vh;
    left: 9.24vw;
    top: 37.891vh;
  }
  .shirt {
    width: 5.131vw;
    height: 9.819vh;
    left: 16.59vw;
    top: 69.332vh;
  }
  .plant {
    width: 5.654vw;
    height: 12.487vh;
    left: 72.55vw;
    top: 8.607vh;
  }
  .chair {
    width: 4.764vw;
    height: 8.111vh;
    left: 44.25vw;
    top: 73.072vh;
  }
  .pad {
    width: 4.974vw;
    height: 9.178vh;
    left: 81.9vw;
    top: 62.287vh;
  }
  .copyright {
    display: flex;
    position: absolute;
    left: 67.95vw;
    top: 78vh;
    gap: 8px;
    align-items: flex-end;
    p {
      width: 92px;
      height: 26px;
      font-size: 16px;
      color: $light-brown-color;
      transform: translateY(-1px);
    }

    &::after {
      content: url("../images/footer/gco-footer-logo.svg");
      height: 32.15px;
      width: 22px;
    }
  }
}
